option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: dstagram/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings
container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
packages:
  yum:
    git: []
    postgresql93-devel: []